/* Configuraciones basicas para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* Contenedor principal */
.contenedor {
  
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
}

/* Contenedor de contactos */
.contenedor__contactos {
  position: relative;
  flex: 30%;
  background: #111b21;
  color: #e9edef;
  border-right: 1px solid #2a3942
}

/* Foto de perfil*/
.contenedor__contactos__header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #1f2c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.contenedor__contactos__header__imagen {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.contenedor__contactos__header__imagen__usuario {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
/* iconos del heaer*/
.contenor__contactos__header__iconos{
  display: flex;
}
.contenor__contactos__header__iconos li{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #dfe1e2;
  font-size: 1.5em;
  margin-left: 22px;
}
.contenor__contactos__header__iconos ion-icon[name="at-circle-outline"] > span {
   position: relative;
  width: 10px;
  height: 10px;
  color: red;
  z-index: 5;
}


/*Buscador de contactos*/
.contendor__contactos__buscador{
  position: relative;
  width: 100%;
  height: 50px;
  background: #111c22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.contendor__contactos__buscador div {
  width: 100%;
}

.contendor__contactos__buscador div input{
  width: 100%;
  outline: none;
  border: none;
  background: #202c33;
  padding: 6px;
  height: 38px;
  border-radius: 10px;
  font-size: 14px;
  padding-left: 40px;
  color: #abb7be;
}
.contendor__contactos__buscador div input::placeholder{
color: #bbb; 
}
.contendor__contactos__buscador div ion-icon{
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;

 }

 .contendor__contactos__buscador .contenedor__contactos__buscador__filtro{
  font-size: 1.2em;
  margin-left: 10px;
  cursor: pointer;
  color: #848d92;
 }
 /*Lista de chats*/
 .contenedor__contactos__chatlista{
  position: relative;
  height: calc(100% - 110px);
  overflow-y: auto;

 }
.contanedor__contactos__chatlista__bloque{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
 }
 
 .contanedor__contactos__chatlista__bloque:hover{
  background: #202c33;
 }
 .contanedor__contactos__chatlista__bloque.activo{
  background: #2a3942;
 }
 
 
.contenedor__contactos__chatlista__bloque__img{
  position: relative;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
 }
 .contenedor__contactos__chatlista__bloque__img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

 }

/*Detalles de mensajes y contactos*/
.contanedor__contactos__chatlista__bloque__detalles{
  position: relative;
  width: 100%;
  
  
}
.contanedor__contactos__chatlista__bloque__detalles_lista{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contanedor__contactos__chatlista__bloque__detalles_lista h4{
  font-size: 1.1em;
  font-weight: 600;
  color: #e9edef;
}
.contanedor__contactos__chatlista__bloque__detalles_lista_timepo{
  font-size: 0.75em;
  color: #f5f5f5;
  
}
.contanedor__contactos__chatlista__bloque__detalles_lista_timepo_nuevo{
  font-size: 0.75em;
  color: #00a884;
}
.contanedor__contactos__chatlista__bloque__detalles_lista_timepo{

  color: #e2e2e2;
}
.contanedor__contactos__chatlista__bloque__detalles_lista_timepo .nuevo p{

  color: #00a884;
}
.contanedor__contactos__chatlista__bloque__detalles_mensaje{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#imagen{
  position: relative;
  width: 22px;
  height: 22px;
}
.contanedor__contactos__chatlista__bloque ion-icon{
  position: relative;
  top: 6px;
  font-size: 1.3em;
}
.contanedor__contactos__chatlista__bloque #icon{
  position: relative;
  font-weight: 600;
  font-size: 1.3em;
  color: #8a8989;
  display: none;
}
.contanedor__contactos__chatlista__bloque:hover #icon{
  display: block;
  font-weight: bolder;
}

.contanedor__contactos__chatlista__bloque__detalles_mensaje p{
  
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-size: 0.9em;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.contanedor__contactos__chatlista__bloque__detalles_mensaje__activo{
  color: #c4c0c0;
  font-weight: 200!important;
  
}

.contanedor__contactos__chatlista__bloque__detalles_mensaje b{
  background: #00a884;
  color: #111111;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 0.7em;
}
.contanedor__contactos__chatlista__bloque__detalles_mensaje__linea{
  position: relative;
  top:15px;
  border-bottom: 1px solid #2a3942;
}
/* Contenedor de mensajes */
.contenedor__mensajes {
  position: relative;
  flex: 70%;
  background-color: #e5ddd5;
  background: url(./img/Captura\ de\ pantalla\ 2024-04-28\ 143512.png);
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
}

.contenedor__mensajes::before {
  content: "";
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(./img/official-whatsapp-background-image.jpg);
  opacity: 0.06;
}

/*Informacion de usuario en mensajes*/

.contenedor__mensajes__header{
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #111c22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.contenedor__mensajes__header__iconos{
  display: flex;
  list-style: none;
  cursor: pointer;
  color: #abb7be;
  font-size: 1.5em;
  margin-left: 22px;
  margin: 5px;
  gap: 8px;
}

.contenedor__mensajes__header__iconos_cam{
  position: relative;
  border: 1px solid;
  border-radius: 30%;
  padding: 8px;
  margin-right: 10px;
  color: #69757c;
}
.contenedor__mensajes__header__iconos_icon{
  position: relative;
  top:8px;
}

.contendor__mensajes__header__infousuario{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.contendor__mensajes__header__infousuario h4{
  font-weight: 500;
  line-height: 1.2em;
  margin-left: 15px;
  color:#e6ebee;
}
.contendor__mensajes__header__infousuario h4 span{
  font-size: 0.8em;
  color: #8195a0;
}
.contendor__mensajes__header__infousuario__imagen{
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.contendor__mensajes__header__infousuario__imagen__usuario{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Mensajes enviados y entrantes*/

.contendor__mensajes__chat{
  position: relative;
  width: 100%;
  height: calc(100% - 120px);
  padding: 50px;
  overflow: auto;

}

.contendor__mensajes__chat_mismensajes{
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
  justify-content: flex-end;
}



.contendor__mensajes__chat_mismensajes p{
  position: relative;
  right: 0;
  justify-content: center;
  text-align: right;
  max-width: 65%;
  padding: 12px;
  background: #005c4b;
  border-radius: 10px;
  font-size: 0.9em;
  color: #d9cfd1;
  display: flex;
  
  margin-right: 20px;
}
.contendor__mensajes__chat_mismensajes p::before{
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #005c4b 0%, #005c4b 50%, transparent 50%, transparent);
}

.contendor__mensajes__chat_mismensajes p span{
  display: inline;
  top: 10px;
  left: 10px;
  font-size: 0.85em;
  opacity: 0.5;
  position: relative;
  font-weight: 650;
  
 
 margin-left: 7px;
}
.contendor__mensajes__chat_mismensajes p span ion-icon{
  position: relative;
  top: 4px;
font-size: 1.7em;
font-weight: bold;
color: #10adeb; }




.contendor__mensajes__chat_otrosmensajes{
  position: relative;
  display: flex;
  width: 100%;
  margin: 5px 0;
  justify-content: flex-start;
}
.contendor__mensajes__chat_otrosmensajes p{
  position: relative;
  right: 0;
  text-align: left;
  max-width: 65%;
  padding: 12px;
  background: #202c33;
  border-radius: 10px;
  font-size: 0.9em;
  color: #d9cfd1;
}
.contendor__mensajes__chat_otrosmensajes p::before{
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 20px;
  height: 20px;
  background: linear-gradient(225deg, #202c33 0%, #202c33 50%, transparent 50%, transparent);
}

.contendor__mensajes__chat_otrosmensajes p span{
 display: flex;
  top: 10px;
  left: 10px;
  font-size: 0.85em;
  opacity: 0.5;
  justify-content: flex-end;
  font-weight: 650;
  
 
 margin-left: 7px;
}

/*seccion de escribir mensajes*/
.contendor__mensajes__input{
  position: fixed;
  bottom:0;
  width: 70%;
  height: 60px;
  background: #202c33;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contendor__mensajes__input ion-icon{
  cursor: pointer;
  font-size: 1.8em;
  color: #7b9694;
  
}
.contendor__mensajes__input ion-icon:nth-child(1){
  margin-right: 15px;
 }

.contendor__mensajes__input input{
  position: relative;
  width: 90%;
  margin: 0 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  background: #2a3942;
  color: #abb7be;
}
.contendor__mensajes__input input::placeholder{
  color: #7b9694;
  font-size: 0.9em;
}



